.modules-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  border-radius: 5px;
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}

.module-content-start {
  align-items: flex-start;
  font-size: large;
}

.module-content-subtitle {
  align-items: flex-start;
  width: 100%;
  font-size: small;
  color: black;
}

.module-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.module-header button {
  margin-right: 10px;
}

.module-menu-icon {
  font-size: 1.5em;
  cursor: pointer;
}

.module-item {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin: 10px 0 20px 0;
  padding: 10px;
  background-color: lightgray;
  border-radius: 0px;
}

.module-icon {
  margin-right: 10px;
}

.module-actions {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.module-check-icon {
  color: green;
  margin-right: 10px;
}

.list-group-flex-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}

.modules-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.button-left {
  margin-right: auto;
}