.flex-container-head {
    height: 50px;    
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

/* Add the new breadcrumb separator */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 0.5rem;
    color: red;
}

.breadcrumb-item > a {
    color: red;
}

.breadcrumb-item.active {
    color: red;
}

.icon-style {
    margin-right: 25px;
    font-size: 20px;
}

.course-name-style {
    color: red;
    font-size: 20px;
}

hr.full-width {
    width: 82vw;
    left: 50%;
    right: 50%;
}

.student-view-button {
    padding: 10 0 10px 0;
}

.student-view-icon {
    padding-right: 5px;
}

.container-fullscreen {
    width: 100vw;     
    height: 100vh;    
    margin: 0;         
    padding: 0;         
    overflow: hidden;
}

.container-left-align {
    margin-left: 0 !important;
}

hr.full-width {
    width: 100%;
    left: 50%;
    right: 50%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container-left-align {
        margin-left: 0;
    }
}