.assignment-container {
    width: 90%;
    margin: 0 auto;
    padding: 60px 50px 0 0;
}

.assignment-header {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.assignment-name {
    padding-top: 10px;
    padding-bottom: 10px;
}

.assignment-container .assignment-header .check-icon {
    color: green;
    margin-right: 5px;
}

.assignment-container .assignment-header .ellip-icon {
    margin-left: 10px;
}

.assignment-container a {
    margin-right: 10px;
}

.button-container{
    padding-top: 10px;
}

.float-end {
    float: right!important;
}

.publish-text {
    color: green;
    font-size: 17px;
    font-weight: bold;
}

.assignment-dates-container {
    display: flex;
    margin-top: 10px;
}

.assignment-dates-container-1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
}

.assignment-dates-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    /* margin-bottom: 1rem; */
}
  
.assignment-dates-group label {
    /* flex: 0 0 120px; */
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: 500;
}
  
.assignment-dates-group input {
    flex: 1;
    margin-right: 0.5rem;
}
  
.assignment-dates-group:last-child input {
    margin-right: 0;
}

.assignment-points {
    display: flex;
    margin-top: 20px;
}

.assignment-points input {
    margin-left: 16px;
}